Package: com.gupiluan.iossierra
Name: iOS Sierra
Version: 1.0
Architecture: iphoneos-arm
Description: Tema inspirado en macOS Sierra (UTILIZAR ANEMONE)
Maintainer: Luis Gutierrez (GUPILUAN) <gupiluan@hotmail.com>
Author: Luis Gutierrez (GUPILUAN) <gupiluan@hotmail.com>
Section: Themes
